body {
    padding: 0;
    font-family: Sans-serif;
    box-sizing: border-box;
}

/* general utilities */

div.main-content {
    padding-left: 10vw;
    padding-right: 10vw;
}

/* product info section CSS - general */

section#info-section {
}

div#product-info {
    position: relative;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

div#product-info img {
    max-width: 50vw;
    object-fit: cover;
}

input.feature-focus-box {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: rgb(0, 191, 255, 0.1);
    border: 2px dashed deepskyblue;
    transition: 0.5s;
}

input.feature-focus-box:hover {
    transform: scale(1.1) rotate(135deg);
}

label.feature-text {
    position: absolute;
}


/* product info section CSS - individual element */

div#feature-block-1 {
    position: absolute;
    top: 30%;
    left: 25%;
}

label#feature-1-text {
    position: absolute;
    left: -40px;
    top: -20px;
}

div#feature-block-2 {
    position: absolute;
    top: 60%;
    left: 10%;
}

label#feature-2-text {
    position: absolute;
    left: -60px;
}

div#feature-block-3 {
    position: absolute;
    top: 25%;
    right: 25%;
}

label#feature-3-text {
    position: absolute;
    top: -70px;
    left: -60px;
}

div#feature-block-4 {
    position: absolute;
    bottom: 35%;
    right: 50%;
}

label#feature-4-text {
    position: absolute;
    bottom: -50px;
    right: -70px;
}

div#feature-block-5 {
    position: absolute;
    bottom: 55%;
    right: 10%;
}

label#feature-5-text {
    position: absolute;
    right: -135px;
}
