body {
    padding: 0;
    font-family: Sans-serif;
    box-sizing: border-box;
}

/* general utilities */

div.main-content {
    padding-left: 10vw;
    padding-right: 10vw;
}

/* product info section CSS - general */

section#info-section {
}

div#product-info {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

div#product-info img {
    max-width: 50vw;
    object-fit: cover;
}

/* product info section CSS - individual element */

