body {
    padding: 0;
    font-family: Sans-serif;
    box-sizing: border-box;
}

/* general utilities */



/* product info section CSS - general */



/* product info section CSS - individual element */

